<div *ngIf="!showLoader && launches?.length > 0" class="main">
  <ul class="cards">
    <li class="cards_item" *ngFor="let launch of launches">
      <div class="card">
        <div class="card_image">
          <img src={{launch?.links?.mission_patch}}>
          <img *ngIf="launch?.links?.mission_patch === null"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrcqM6uaWmu08JahpGJ9z4q5NkosS0nvvQbQ&usqp=CAU">
        </div>
        <div class="card_content">
          <h5>{{launch?.mission_name}} #{{launch?.flight_number}}</h5>
          <p class="card_title">Mission ids:</p>
          <ul *ngFor="let id of launch.mission_id">
            <li>{{id}}</li>
          </ul>
          <p class="card_title">Successful Year: <label>{{launch?.launch_year}}</label></p>
          <p class="card_title">Successful Launch: <label>{{launch?.launch_success}}</label>
            <label *ngIf="launch?.launch_success === null">Data Unavailable</label>
          </p>
          <p class="card_title">Successful Landing:
            <label>{{launch?.rocket?.first_stage?.cores[0]?.land_success}}</label>
            <label *ngIf="launch?.rocket?.first_stage?.cores[0]?.land_success === null">Data Unavailable</label>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="center-image" *ngIf="launches?.length === 0">
  <img class="image" src="https://i.pinimg.com/originals/a7/37/45/a7374590c10d5ec0b891913d303112e9.jpg">
</div>
<div class="center">
  <div *ngIf="showLoader" class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>